    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Topic: GetTopicTitle</p>
                <div class="list-group">
                        <% data.forEach(function(participant){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <ol><%= participant.applicantUsername %></ol>
                                </div>
                            </div>
                            <% }); %>
                </div>
            </div>

        </div>
    </div>
    <br><a href="/">See topic detailed info</a>
